@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --medium-orchid: #fe41e5;
  --hot-pink: #4e46c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 14, 18, 23;
    --background-end-rgb: 14, 18, 23;
  }
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-size: 1.6rem; /* 1.6rem = 16px */
}

.text-gradient {
  background-image: linear-gradient(135deg, var(--medium-orchid), var(--hot-pink));
  color: var(--medium-orchid);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

h1 {
  font-size: 3rem; /* 1.6rem = 16px */
  margin-bottom: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem; /* 1.4rem = 14px */
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem; /* 1.2rem = 12px */
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem; /* 1.2rem = 12px */
  margin-bottom: 0.8rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}

.skeleton-rounded-sm {
  border-radius: 0.2rem !important;
}

.skeleton-rounded-lg {
  border-radius: 0.4rem !important;
}

.skeleton-rounded-xl {
  border-radius: 0.8rem !important;
}

.skeleton-rounded-2xl {
  border-radius: 1rem !important;
}

.skeleton-rounded-3xl {
  border-radius: 1.4rem !important;
}

/* global.css or any CSS file imported in your project */
.toastify-toast {
  border-radius: 0.6em !important;
}
